.clock {
  font-size: 70px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  text-shadow: 0 0 30px rgb(0, 200, 255);
  color: rgb(255, 255, 255);
  background-image: linear-gradient(45deg, #1bffff, #4e65ff, #92effd);
  font-family: "Courier New", Courier, monospace;
}
