<div class="p-5">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Department</th>
        <th>Email</th>
        <th>Number</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let user of userDetail;
          let i = index;
          let firstLine = first;
          let lastLine = last;
          let oddNumberRow = odd;
          let evenNumberRow = even
        "
        [ngClass]="{
          first: firstLine,
          last: lastLine,
          odd: oddNumberRow,
          even: evenNumberRow
        }"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.dep }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.number }}</td>
        <td>{{ user.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
